// Import Carbon component styles
@import 'carbon-components/scss/components/button/button';
@import 'carbon-components/scss/components/overflow-menu/overflow-menu';
@import 'carbon-components/scss/components/ui-shell/side-nav';
@import 'carbon-components/scss/components/data-table/data-table';
@import 'carbon-components/scss/components/search/search';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: #f4f4f4;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
